DJANGO_SETTINGS_MODULE=hidlroute.settings.prod

# SECURITY WARNING: don't run with the debug turned on in production!
DEBUG=False

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=zxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# A list of all the people who get code error notifications.
ADMINS="John Doe <john@example.com>, Mary <mary@example.com>"

# By default, Django will send system email from root@localhost.
# However, some mail providers reject all email from this address.
SERVER_EMAIL=webmaster@example.com

# Enable or disable wireguard
ENABLE_WIREGUARD=True
# Enable or disable openvpn
ENABLE_OPENVPN=True

# Whether or not associate existing hidle users with social profiles during login.
# This might be risky in SSO provider doesn't enforce email verification.
SOCIAL_ASSOCIATE_EXISTING_USERS=True

# Whether or not force 2fa for everyone
TWO_FACTOR_FORCE=False