.jazzmin-login-page {
    background: linear-gradient(66.02deg, #254C68 44.85%, #557389 115.05%);
}

.jazzmin-login-page .login-box {
    min-width: 400px;
    margin-top: -100px;
}

.sidebar-logo {
    width: 100%;
}

/* ======================= SERVER ADMIN ========================= */
.server-type-select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.server-type-select .server-type-option {
    max-width: 200px;
    margin: 0 15px;
    text-align: center;
}

.server-type-select .server-type-option .icon-wrapper {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.server-type-select .server-type-option input {
    display: inline;
}

.server-type-select .server-type-option img {
    width: 99%;
}

/* ======================= END SERVER ADMIN ========================= */


/* ======================= PORT RANGE ADMIN ============================ */
#firewallportrange_set-group .dynamic-firewallportrange_set input {
    max-width: 150px;
}

/* ======================= END PORT RANGE ADMIN ========================= */

/* ======================= NET FILTER ADMIN ============================ */
.network-filter-inline .inline-deletelink {
    display: none !important;
}

/* ======================= END NET FILTER ADMIN ========================= */

/* ======================= FIREWALL INLINE ADMIN ============================ */
.firewall-inline-formset .handle-container {
    width: 30px !important;
    min-height: 20px;
}

/* ======================= END FIREWALL INLINE ADMIN ========================= */

/* ======================= AUTH USER ADMIN ============================ */
.field-profile_picture_img {
    white-space: nowrap;
}
.field-profile_picture_img img {
    width: 50px;
    border-radius: 100%;
    margin: 0 5px 0 0;
    display: inline-block;
}

/* ======================= END AUTH USER ADMIN ========================= */