{# Used for MP and NS trees #}
{% extends "admin/change_list.html" %}
{% load admin_list admin_tree i18n %}

{% block extrastyle %}
    {{ block.super }}
    {% treebeard_css %}
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    {% treebeard_js %}
{% endblock %}

{% block result_list %}
    <div class="row">
        <div class="col-12 col-sm-8">
            {% if action_form and actions_on_top and cl.show_admin_actions %}
                {% admin_actions %}
            {% endif %}
        </div>
        <div class="col-12 col-sm-4">
            {% block object-tools %}
                {% block object-tools-items %}
                    {% change_list_object_tools %}
                {% endblock %}
            {% endblock %}
        </div>
    </div>
    <hr/>
    {% result_tree cl request %}
    {% if action_form and actions_on_bottom and cl.show_admin_actions %}
        <div class="row">
            <div class="col-12">
                {% admin_actions %}
            </div>
        </div>
    {% endif %}
{% endblock %}
